---
#引入PHP运行环境元数据，并初始化
- include_vars: roles/role_php/vars/php_runtime_meta.yml

#Create var for this playbook
- set_fact:
    mediawiki_vhost_dir: "{{php_runtime_meta[ansible_os_family][mediawiki_webs].vhost_dir}}"
    mediawiki_vhost_src: "{{php_runtime_meta[ansible_os_family][mediawiki_webs].vhost_src}}"
    mediawiki_service: "{{php_runtime_meta[ansible_os_family][mediawiki_webs].service}}"
    mediawiki_owner: "{{php_runtime_meta[ansible_os_family][mediawiki_webs].owner}}"
    mediawiki_db_password: "{{mysql_root_password}}"

- debug:
    msg: runtime {{ mediawiki_vhost_dir }}, {{mediawiki_vhost_src}}, {{mediawiki_service}}, {{mediawiki_owner}}, {{mediawiki_webs}}, {{ansible_distribution}}

# MediaWiki
- name: Remove extra dir
  shell: |
    rm -rf /data/wwwroot/*{{mediawiki_name}}*

- name: Download MediaWiki
  unarchive:
    src: "{{mediawiki_download_url}}"
    dest: /data/wwwroot
    remote_src: yes

- name: Rename dir name
  shell: cd /data/wwwroot; if [ ! -d "{{mediawiki_name}}" ]; then mv *{{mediawiki_name}}* {{mediawiki_name}}; fi

# mediawiki 需安装 php-pecl-apcu 扩展， 已在 PHP role 处理
  
# 系统通用
- name: Permission directory
  shell: |
    find /data/wwwroot -type d -exec chmod 750 {} \;
    find /data/wwwroot -not -type d -exec chmod 640 {} \;

# 根据不同的基础环境分别处理

- block:
  - name: change owner&group
    shell: chown -R {{mediawiki_owner}}:{{mediawiki_owner}} /data/wwwroot
    
  - name: restart Apache or Nginx
    service: name={{mediawiki_service}} state=restarted enabled=yes

  - name: restart php-fpm
    service: name=php-fpm state=restarted



